header{
	background-color:#000000;
	padding:10px 25px;
	text-align:center;
}

body{
	text-align:center;
	background-image: url("http://www.userlogos.org/files/backgrounds/soundofemotion/blue_holograph_gradient.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
/*    background-size: cover;*/
    background-color: #000000;
    color:#ffffff;
	font-family: 'Yantramanav', sans-serif;

}

#search-input{
	text-align: center;
}

#button-container{
	text-align:left;
}



.savedImages{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:.5;
    height:100px;
    width:100px;
    max-width:100%;
    margin:4px;
}

.gif-container{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height:200px;
    width:100%;
    max-width:250px;
 	border: 2px solid black;
 	text-align: center;
 	margin-right:auto;
 	margin-left:auto;

}

#search-input{
	background:none;
	border: none;
	border-bottom:2px solid grey;
	height:60px;
	width:75%;
	font-size:30px;
	color: white;
}
input{
	outline:none;
}

#bookmark-container{
	border-radius:5px;
	color:#000000;
	border:1px solid black;
}

#header{
	margin-left:auto;margin-right:auto;height:150px;width:400px
}

#search{
	padding-top:80px
}

@media only screen and (max-width: 750px) {
    #header {
        height:100px;
        width:auto;
    }
    #search{
    	padding-top:20px;
    }
}